footer {
  border: 0.5px solid rgba(255, 255, 255, 0.15);
}
footer .container {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  margin-bottom: 98px;
}
.footer__antools {
  width: 263px;
}
.footer__antools h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.9);
  padding-top: 25px;
  padding-bottom: 21px;
}
.footer__antools p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.55);
}
.footer__contact{
  width: 197px;
}
.footer__contact span{
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.55);
  padding-top: 10px;
  display: block;
}
.footer__contact .span {
  padding-top: 20px;
}
.footer__categories{
  width: 112px;
}
.footer__categories a{
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.55);
  padding-top: 10px;
  display: block;
}
.footer__categories .a{
  padding-top: 20px;
}
.footer__company{
  width: 173px;
}
.footer__company a{
  display: block;
  padding-top: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.55);
}
.footer__company .a{
  padding-top: 20px;
}