// Container
.container {
  max-width: ($containerWidth + $containerPadding) + px;
  width: 100%;
  margin: 0 auto;
  padding: 0 $containerSidePadding + px;
  //@media (max-width: $breakpoint1450) {
  //  max-width: 1300px;
  //}
  @media (max-width: $breakpoint992) {
    max-width: 970px;
  }
  @media (max-width: $breakpoint768) {
    max-width: 740px;
  }
  @media (max-width: $breakpoint480) {
    max-width: none;
  }
}
// Body Locked
body {
  min-width: 480px;
  overflow-x: hidden;
 font-family: 'Poppins', sans-serif;
  background: #1E252B;
  &.locked {
    overflow: hidden;
  }
}
button.btn{
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FDF5FF;
  background: #FF6E30;
  border-radius: 8px;
  padding: 12px 28px;
}
.btn__text{
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.78);
  opacity: 0.78;
  background: none;
  padding: 9px 35px;
  border-radius: 8px;
}
// Animations
// Fade
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.card{
  width: 392px;
  height: 294px;
}

