.header-top {
  display: flex;
  //position: relative;
}
.top__img{
  position: absolute;
  right: 0px;
  top: 132px;
}
.box p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.55);
  margin-top: 30px;
  margin-bottom: 60px;
}
h1 span {
  color: $secondary;
}
.box {
  margin-top: 69px;
  display: flex;
  flex-direction: column;
  max-width: 600px;
}
.box-wrap{
  margin-top: 135px;
}
@media (max-width: 1245px) {
  .top__img{
    width: 400px;
  }
  .menu__item-link, .wrap button, .box p, button.btn {
    font-size: 14px;
  }
  h1{
    font-size: 30px;
  }
  .box{
    max-width: 400px;
  }
  .search{
    width: 350px;
  }
  input{
    margin-right: 0px;
  }
  button.btn{
    padding: 6px 20px;
  }
}
@media (max-width: $breakpoint992) {
  .container{
    padding: 0 10px;
  }
  .box-wrap{
    margin-top: 80px;
  }
}
@media (max-width: $breakpoint768) {

}